<%- include('../partials/header') %>

<h2>Flight List</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departs</th>
    </tr>
  </thead>
  <tbody>
    <!-- Write the line of EJS to iterate over movies using forEach -->
    <% sortedFlights.forEach(function(f) { %>
      <tr>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <% if(new Date(f.departs) < new Date()) { %>
          <td class="active"><%= f.departs %></td>
        <% } else { %>
        <td><%= f.departs %></td>
        <% } %>
      </tr>
    <!-- Close the forEach using EJS here -->
    <% }); %>
  </tbody>
</table>

<%- include('../partials/header') %>