<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
</section>

<br><br><h2>Destinations</h2>
<form id="add-destinations-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Arrives:</label>
  <input type="datetime-local" name="arrival">
  <label>Airport:</label>
  <select name="airport">
    <option value="PDX"><selected>PDX</option>
    <option value="LAX">LAX</option>
    <option value="ORD">ORD</option>
    <option value="GRU">GRU</option>
    <option value="PAP">PAP</option>
  </select>
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Arrives</th>
          <th>Airport</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(dest) { %>
          <tr>
            <!-- .toLocaleDateString() provides a more friendly date format -->
            <td><%= dest.arrival %></td>
            <td><%= dest.airport %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>

  <a href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a>

  
<%- include('../partials/footer') %>